@page
@model PreParty.Pages.ConnexionModel
@{
}

<div class="text-center">
    <h1 class="display-4">Connexion</h1>
    <p>Ici il y aura une image</p>
</div>

<div class="container">
    <div class="p-4 shadow rounded">
        <div class="row justify-content-start">
            <div class="col-md-1">
                <h2>Connexion</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adresse mail">
                        <small id="emailHelp" class="form-text text-muted">Ne paratager jamais votre adresse.</small>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                    </div>
                    <br />
                    <button type="submit"><span>Valider</span></button>
                </form>
            </div>
        </div>

        <br />
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p>
                    Vous n'avez pas de compte ? <a href="Inscription"> Créez-en un !</a>
                </p>
            </div>
        </div>
    </div>
</div>