@page
@model PreParty.Pages.CreationFeteModel
@{
}

<div class="text-center">
    <h1 class="display-4">Créez votre fête !</h1>
    <p>Renseignez les informations nécessaires et invitez vos amis</p>
</div>

<div class="container-fluid">
    <form method="post">
    <div class="row">
        <!--Formulaire des informations principales de la fête : -->
        <div class="col-md-6">
                
                <div class="p-4 shadow rounded">
                    <div class="form-group">
                        <label for="inputNom">Nom de la fête :</label>
                        <input type="text" class="form-control" name="_nom_fete" id="inputNom" placeholder="Entrez un nom" required>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputAdresse">Ajouter une adresse</label>
                                <input type="text" class="form-control" id="inputAdresse" name="_adresse" placeholder="Adresse" required>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputGPS">Coordonnées GPS :</label>
                                <input type="text" class="form-control" id="inputGPS" placeholder="Coordonnées GPS" name="_gps">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputDate">Date</label>
                                <input type="date" class="form-control" id="inputDate" min="@Model.DateAjd" required name="_date">
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputHeureDebut">Heure de début :</label>
                                <input type="time" class="form-control" id="inputHeureDebut" required name="_hdebut">
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputHeureFin">Heure de fin :</label>
                                <input type="time" class="form-control" id="inputHeureFin" required name="_hfin">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputDescritpion">Ajouter une descritpion : </label>
                        <input type="text" class="form-control" id="inputDescritpion" placeholder="Entrez une description" name="_description">
                    </div>

                    <div class="form-group">
                        <label for="inputPrix">Prix d'entrée: </label>
                        <input type="number" class="form-control" id="inputPrix" aria-describedby="numberHelp" placeholder="Entrez un prix" min="0" required name="_prix">
                        <small id="numberHelp" class="form-text text-muted">Prix en €.</small>
                    </div>

                    <br />

                </div>
                
        </div>

        <!--Ajouter les invités -->
        <div class="col-md-6">
            <div class="p-4 shadow rounded">
                    <h2>
                        Invités
                        <a href="#">
                            <span class="material-symbols-outlined bg-success text-white rounded-circle">add</span>
                        </a>
                    </h2>
                    <div style="overflow : scroll; overflow-x: hidden; max-height: 300px">
                        @for (int i = 0; i < 20; i++)
                        {
                            <div class="row bg-light rounded my-1 p-2 invite">
                                <div class="col">PFP</div>
                                <div class="col">Simon Robinet</div>
                                <div class="col"><a href="#" class="btn btn-primary">Supprimer</a></div>
                            </div>
                        }
                    </div>
            </div>
        </div>
        
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-1">
            <div class="form-group">
                 <button type="submit"><span>Valider</span></button>
            </div>
        </div>
    </div>
    </form>
</div>
