@page
@model PreParty.Pages.CreationFeteModel
@{
}

<div class="text-center">
    <h1 class="display-4">Créez votre fête !</h1>
    <p>Renseignez les informations nécessaires et invitez vos amis</p>
</div>

<div class="container-fluid">
    <form method="post" name="CreationFeteForm">
        <div class="row justify-content-center">
        <!--Formulaire des informations principales de la fête : -->
        <div class="col-md-10">
                <div class="p-4 shadow rounded">
                    <div class="form-group">
                        <label for="inputNom"><span class="rouge">*</span>Nom de la fête :</label>
                        <input type="text" class="form-control" name="_nom_fete" id="inputNom" placeholder="Entrez un nom" required>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputAdresse"><span class="rouge">*</span>Ajouter une adresse</label>
                                <input type="text" class="form-control" id="inputAdresse" name="_adresse" placeholder="Adresse" required>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputGPS">Coordonnées GPS :</label>
                                <input type="text" class="form-control" id="inputGPS" placeholder="Coordonnées GPS" name="_gps">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputDateDebut"><span class="rouge">*</span>Date Début</label>
                                <input type="datetime-local" min="@Model.DateAjd" class="form-control" id="inputDateDebut" required name="_dateDebut">
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-group">
                                <label for="inputDateFin"><span class="rouge">*</span>Date de fin</label>
                                <input type="datetime-local" class="form-control" min="@Model.DateAjd" id="inputDateFin" required name="_dateFin">
                            </div>
                        </div>
                 

                    </div>

                    <div class="form-group">
                        <label for="inputDescritpion">Ajouter une descritpion : </label>
                        <input type="text" class="form-control" id="inputDescritpion" placeholder="Entrez une description" name="_description">
                    </div>

                    <div class="form-group">
                        <label for="inputPrix"><span class="rouge">*</span>Prix d'entrée: </label>
                        <input type="number" class="form-control" id="inputPrix" aria-describedby="numberHelp" placeholder="Entrez un prix" min="0" required name="_prix">
                        <small id="numberHelp" class="form-text text-muted">Prix en €.</small>
                    </div>

                    <br />

                </div>
                
        </div>
        
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-1">
            <div class="form-group">
                    <button type="submit" class="btnStyleViolet"><span>Valider</span></button>
            </div>
        </div>
    </div>
    </form>
    <br />
    <div class="row justify-content-center">
        <div class="col-md">
            <p class="champsObligatoires">
                * Champs obligatoires :
            </p>
        </div>
    </div>
</div>

