@page
@model PreParty.Pages.feteModel
@{
    ViewData["Title"] = "Fête";
    <div class="row">
        <div class="col-md">
            <div class="p-4 shadow rounded">
                <h1>Anniversaire d'Aristide</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                <p>Organisateur : Aristide Proriol</p>
            </div>
            <div class="p-4 shadow rounded">
                <h2>Date : 19/11/2022</h2>
                <div class="row p-2">
                    <div class="col">
                        <h3>Début</h3>
                        <p>19 h 00</p>
                    </div>
                    <div class="col">
                        <h3>Fin</h3>
                        <p>01 h 00</p>
                    </div>
                </div>
            </div>
            <div class="p-4 shadow rounded">
                <p>78 boulevard de Strasbourg, Dijon</p>
                <iframe class="" src="https://www.openstreetmap.org/export/embed.html?bbox=5.061363279819489%2C47.32134510903253%2C5.063873827457428%2C47.322550582764045&amp;layer=mapnik&amp;marker=47.3219470%2C5.0629554"></iframe>

            </div>
        </div>

        <div class="col-md">
            <div class="p-4 shadow rounded">
                <h2>
                    Invités
                    <a href="#">
                        <span class="material-symbols-outlined bg-success text-white rounded-circle">add</span>
                        </a>
                </h2>
                <div style="overflow : scroll; overflow-x: hidden; max-height: 300px">
                    @for (int i = 0; i < 20; i++){
                        <div class="row bg-light rounded my-1 p-2 invite">
                            <div class="col">PFP</div>
                            <div class="col">Simon Robinet</div>
                            <div class="col"><a href="#" class="btn btn-primary">Supprimer</a></div>
                        </div>
                    }
                </div>
            </div>
            <div class="p-4 shadow rounded">
                <h2>Budget par personne</h2>
                <p>17, 5 €</p>
                <a href="#" class="btn btn-primary">Voir les dépenses</a>
                <a href="#" class="btn btn-primary">Modifier</a>
            </div>
        </div>




        <div class="col-md">
            <div class="p-4 shadow rounded">
                <h2>Posts</h2>
                <div style="overflow : scroll; overflow-x: hidden; max-height: 700px">
                    @for (int i = 1; i < 4; i++){
                        <div class="bg-light rounded p-3 my-3">
                            <h3>Post numéro @i</h3>
                            <p>24/10/2022</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae venenatis enim, ac auctor neque.
                                Curabitur non erat rhoncus, faucibus lectus non, varius urna. Phasellus tortor dui, dapibus sed nisl
                            </p>
                        </div>
                }
                </div>
            </div>
        </div>
    </div>
}
