html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.formTitre {
    color : mediumpurple
}

.champsObligatoires {
    color : red;
    font-style : italic;
    font-size : 12px
}

.rouge {
    color : red
}

.btnStyleViolet {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.btnStyleViolet span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

.btnStyleViolet span:after {
        content: "\00bb";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.btnStyleViolet:hover {
        background-color: #f7c2f9;
    }

.btnStyleViolet:hover span {
        padding-right: 25px;
    }

.btnStyleViolet:hover span:after {
        opacity: 1;
        right: 0;
    }

